[submodule "submodules/quickstart-aws-vpc"]
  path = submodules/quickstart-aws-vpc
  url = ../../aws-quickstart/quickstart-aws-vpc.git
  branch = master
[submodule "submodules/quickstart-linux-bastion"]
	path = submodules/quickstart-linux-bastion
	url = ../../aws-quickstart/quickstart-linux-bastion.git
	branch = master
[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-quickstart/quickstart-documentation-base-common.git
