[Unit]
Description=Consul Force Leave Missing Peers
Requires=network-online.target consul.service
After=network-online.target consul.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/consul-force-leave-missing-peers.sh

[Install]
WantedBy=multi-user.target
